# Ignore Python virtual environment
backend/venv/
frontend/node_modules/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore IDE files
.idea/

# Ignore log files
logs/
*.log

# Ignore build artifacts
dist/
build/
*.egg-info/
/arquivo
