<nav class="top-nav">
  <div class="nav-group">
    <span class="nav-brand">Disagua</span>
    <a href="{{ url_for('home') }}">Início</a>
    <a href="{{ url_for('page_parceiros') }}">Parceiros</a>
    <a href="{{ url_for('page_lojas') }}">Lojas</a>
    <a href="{{ url_for('page_conectar') }}">Conectar</a>
    <a href="{{ url_for('page_comprovantes') }}">Comprovantes</a>
    <a href="{{ url_for('page_relatorios') }}">Relatórios</a>
  </div>
  <div class="nav-group nav-group--right">
    <a href="{{ url_for('users_page') }}">Usuários</a>
    <a href="{{ url_for('account') }}">Minha Conta</a>
    <a href="{{ url_for('logout') }}">Sair</a>
  </div>
</nav>
